#footer {
    width: 100%;
    height: 70px;
    background-color: gray;
    padding-top: 20px;
    text-align: center;
    
}

#footer > div {
    display: inline-block;   
}



.address {
    font-size: 13px;
    color: white;
   
  
   
}

.address > img {
    /*vertical-align: middle;*/
}