
.gnb-wrapper {
    width: 100%;
    height: 140px;
    background-color: orange;
    
}
.gnb-top {
    width: inherit;
    height: 60px;
    background-color: white;
}

.gnb-top > div {
    display: inline-block;
}
.gnb-top > div:first-child {
    width: 140px;
    background-color: yellow;
}

.gnb-top > div:nth-child(2) {
    width: 70%;
  
    color: slategrey;
    font-weight: bold;
    font-size: 20px;
}

.gnb-top .user-info {
    background-color: salmon;

}

.user-info > div {
    display: inline-block;    
}

.logo > img{
    height: 50px;
    vertical-align: middle;
 
}
.user-info-icon > img {
    height: 30px;
    vertical-align: middle;
}
.user-info > div:nth-child(2) {
    font-weight: bold;
}

