ul, p {
  margin: 0;
  padding: 0;
}

.left-menu {
  /* width: 100%; */
  /* height: 100%; */
  width: 200px;
  height: 720px;
  background-color: bisque;
  padding: 12px;
}

.left-menu .title {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: yellow;
  padding: 10px 6px;
  border: 1px solid gray;
}

.left-menu .anchor-list {
  /* margin: 16px 15px; */
  padding: 16px 15px;
  line-height: 28px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  height: calc(100% - 76px);
}

.left-menu .anchor-list li {
  list-style: none;
}

.list-ico {
  width: 13px;
  height: 13px;
}
.list-title {
  display: inline;
  margin: 0 6px;
  color: black;
  text-decoration: none;
}
.list-title:hover {
  text-decoration: underline;
}